@model CRUD_School294.Models.Students

@{ 
    ViewData["Title"] = "Edit Student";
}

<form method="post" asp-action="EditStudent">
    <input asp-for="studentId" hidden/>
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Student Edit</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="studentSurname"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentName"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentDob"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentClass"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentContacts"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentContact2"></label>
                    </div>
                    <div class="col">
                        <label asp-for="studentContact3"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input asp-for="studentSurname" class="form-control">
                        @*<span asp-validation-for="studentSurname" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentName" class="form-control">
                        @*<span asp-validation-for="studentName" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentDob" class="form-control">
                        @*<span asp-validation-for="studentDob" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentClass" class="form-control">
                        @*<span asp-validation-for="studentClass" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentContacts" class="form-control">
                        @*<span asp-validation-for="studentContacts" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentContact2" class="form-control">
                        @*<span asp-validation-for="studentContact2" class="text-danger"></span>*@
                    </div>
                    <div class="col">
                        <input asp-for="studentContact3" class="form-control">
                        @*<span asp-validation-for="studentContact3" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group row text-right">
                    <div class="col-8 offset-2 row pt-5">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-50" value="Update">
                        </div>
                        <div class="col">
                            <a class="btn btn-info w-50" asp-controller="Students" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}